/*CSS Reset*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: FreeMono, monospace;
	color: #0a1d37;
	text-align: center;

 }

body {
 	background-color: #ffeedb;
 }

#myPicture {
	width: 180px;
	height: 180px;
}

#myName {
	padding-top: 50px;
	font-weight: bold;
	font-size: 40px;
}

#myTitle {
	font-size: 25px;
}

.jumbotron {
	margin-top: 80px;
	border-radius: 30px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #ffbd9b;
}

#navBar {
	background-color: #ffd8cc;
	color: #0a1d37;
	opacity: 0.9;
	font-size: 20px;
}

.navbar-brand {
	font-size: 25px;
	font-weight: bold;
	padding-right: 15px;
	border-right: 3.5px solid #ffeedb;
}

.nav-link {
	padding-right: 15px;
	border-right: 2px solid #ffeedb;
}

#aboutMe h3 {
	padding-top: 100px;
	font-size: 40px;
	font-weight: bold;
}

#aboutMe p {
	padding-top: 30px;
	font-size: 20px;
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
}

#aboutMe .para1 {
	display: inline-block;
	position: relative;
	padding-bottom: 15px;
}

#aboutMe .para1::after{
	content: '';
	height: 2px;
	width: 20%;
	background-color: #0a1d37;
	position: absolute;
	left: calc(50% - 10%);
	bottom: 0;
}

#project {
	padding-top: 100px;
	font-size: 40px;
	font-weight: bold;
	color: #0a1d37;
}

.card-group {
	align-items: center;
	font-size: 100%;

}

.card-group h5 {
	font-weight: bold;
}

.card-group .card {
	background-color: #ffbd9b;
	margin: 40px;
	padding: 20px;
	height: 550px;
}

.card-group .btn {
	color: white;
	background-color: #0a1d37;
}

.card-group .projButtons  {
	display:inline-block;
	vertical-align:bottom;
}


#contact {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 50px;
}

.myAddressmap {
	border: 0;
	width: 200%;
}

.myContactform form {
	font-weight: bold;
/*	padding-left: 50px;*/
	align-items: center;
}

.myContactform .btn {
	background-color: #ffbd9b;
	font-weight: bold;
}


.forMy-footer {
	background-color: #0a1d37;
	padding: 10px;
}

.forMy-footer p {
	color: white;
	font-size: 12px;
	padding: 0;
	margin: 0;
	text-align: left;
	text-decoration: none;
}

.forMy-footer h3 {
	color: white;
	font-size: 14px;
	margin-top: 20px;
	font-weight: bold;
	text-align: left;
}

.wipText p {
	text-align: left;
	position: absolute;
	top: 25%;
	left: 15%;
	width: 450px;
	transform: translateY(-50%);
	color: darkgreen;
	font-size: 30px;
	text-decoration: none;
}

.wipText a {
	color: darkgreen;
	font-weight: bold;
}

#brokenRobot {
	width: 60%;
	position: absolute;
	bottom: 10%;
	right: 10%;
}


#myCoffee {
	width: 60%;
}

#langLogo .devCon {
	width: 60px;
}